@import url(./base.css);

#app {
  font-family: sans-serif;
  font-weight: normal;
  display: flex;
  place-items: center;
}

body {
  justify-content: center;
  display: flex;
  margin: 0px;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-variant: small-caps;
  text-align: center;
}

h1.site-title {
  font-size: 2em;
  font-variant: small-caps;
}

.emoji-icon {
  align-content: center;
  margin: auto;
  font-size: 5em;
}

.header-background {
  width: 99vw;
  background-color: var(--vt-c-black-pink);
}

button {
  border-style: none;
  border-radius: 1rem;
  cursor: pointer;
  margin: auto;

}

.order-btn {
  background-color: var(--vt-c-pink);
  cursor: pointer;
}

.btn_green {
  background-color: #00801a;
}

.btn_red {
  background-color: #800000;
}

.admin_wrapper {
  margin: 10px;
}

a {
  font-style: italic;
  font-weight: bolder;
  color: var(--vt-c-pink);
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
    background-color: var(--vt-c-medium-pink);
  }
}

.current_user_wrapper,
.order_wrapper,
.menu_wrapper {
    display: flex;
    flex-direction: column;
}

div.menu_wrapper {
  color: black;
  align-items: left;
}

.order_number th {
    background: #ddd;
}

.order_number button {
    margin: auto;
}

.form-group {
  margin: 10px 0;
}

label {
  display: block;
}

nav {
  padding-bottom: 1em;
}

ul {
  display: flex;
  flex-direction: row;
  padding-left: 0;
}

ul.about-ul {
  padding-left: 40;
}

li {
  margin: auto;
  width: auto;
  list-style-type: none;
}

div.basket tr {
  text-align: justify;
}

.menu > table > tbody > tr > td:nth-child(3){
  text-align: right;
}

input,
textarea {
  width: 50vw;
  padding: auto;
  box-sizing: border-box;
  background: white;
}

.menu, .basket {
  background-color: var(--vt-c-divider-dark-1);
  height: 100vh;
  margin: 1em;
  border-radius: 1em;
  padding: 2em;
}

div.info_block img {
  margin: auto;
  width: auto;
}

/* When the screen is big */
@media screen and (min-width: 900px) {
  .menu_wrapper {
      flex-direction: row;
      justify-content: space-between;
  }

  .flex-container,
  .flex-container p {
    flex: 1 100%;
    align-content: center;
    display: flex;
    background-color: var(--vt-c-dark-pink);
    padding: 1em;
    margin: auto;
  }

  div.info_block {
    max-width: 30vw;
    margin: auto;
  }
  

  main {
    display: flex;
    flex-flow: row wrap;
  }

  .menu {
      width: 45vw;
  }

  .basket {
      width: 25vw;
  }

}

div {
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 1em;
}


header img {
  max-width: 15vw;
  margin: auto;

}

.info_block img {
  max-width: 20vw;
}

/* When the screen is small */
@media screen and (max-width: 900px) {
  header img {
      max-width: 10vw;
      margin: auto;

  }

  .info_block img {
    align-content: center;
    max-width: 50vw;
  }

  .menu, .basket {
    width: 90vw;
    background-color: var(--vt-c-divider-dark-1);
    height: fit-content;
    margin: 0.1em;
  }

  .menu_wrapper {
    width: 90vw;
    height: fit-content;
  }
}
